<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Red</string>
		<key>RGB</key>
		<array>
			<integer>255</integer>
			<integer>59</integer>
			<integer>48</integer>
		</array>
		<key>Hexa</key>
		<string>#FF3B30</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Orange</string>
		<key>RGB</key>
		<array>
			<integer>255</integer>
			<integer>149</integer>
			<integer>0</integer>
		</array>
		<key>Hexa</key>
		<string>#FF9500</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Yellow</string>
		<key>RGB</key>
		<array>
			<integer>255</integer>
			<integer>204</integer>
			<integer>0</integer>
		</array>
		<key>Hexa</key>
		<string>#FFCC00</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Green</string>
		<key>RGB</key>
		<array>
			<integer>76</integer>
			<integer>217</integer>
			<integer>100</integer>
		</array>
		<key>Hexa</key>
		<string>#4CD964</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Teal Blue</string>
		<key>RGB</key>
		<array>
			<integer>90</integer>
			<integer>200</integer>
			<integer>250</integer>
		</array>
		<key>Hexa</key>
		<string>#5AC8FA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Blue</string>
		<key>RGB</key>
		<array>
			<integer>0</integer>
			<integer>122</integer>
			<integer>255</integer>
		</array>
		<key>Hexa</key>
		<string>#007AFF</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Purple</string>
		<key>RGB</key>
		<array>
			<integer>88</integer>
			<integer>86</integer>
			<integer>214</integer>
		</array>
		<key>Hexa</key>
		<string>#5856D6</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pink</string>
		<key>RGB</key>
		<array>
			<integer>255</integer>
			<integer>45</integer>
			<integer>85</integer>
		</array>
		<key>Hexa</key>
		<string>#FF2D55</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Champagne</string>
		<key>RGB</key>
		<array>
			<integer>244</integer>
			<integer>234</integer>
			<integer>207</integer>
		</array>
		<key>Hexa</key>
		<string>#F4EACF</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dark Spring Green</string>
		<key>RGB</key>
		<array>
			<integer>18</integer>
			<integer>106</integer>
			<integer>56</integer>
		</array>
		<key>Hexa</key>
		<string>#126A38</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dark Gold</string>
		<key>RGB</key>
		<array>
			<integer>171</integer>
			<integer>108</integer>
			<integer>56</integer>
		</array>
		<key>Hexa</key>
		<string>#AB6C38</string>
	</dict>
</array>
</plist>
